<app-nav></app-nav><br><br><br>
<main role="main" class="container p-6"> 
    <app-alert [alert]="alert"></app-alert>
    <form [formGroup]="formularioMat" (submit)="comprobar()">
      <div>
        <a [routerLink]="['/principal']" class="btn btn-outline-primary mt-3 mb-3 col-3">
          Volver
        </a>
      </div>
      
      <input type="hidden" name="op" value="buscar">
        <div class="form-group">
          <label for="matricula">Introducir Matricula a multar</label> 
          <input type="text" formControlName="matricula" class="form-control" placeholder="4 numeros, 3 letras" required>
        </div>
        <button type="submit" class="btn btn-outline-primary btn-block" >BUSCAR</button>
    </form>
  </main>