<app-nav></app-nav><br><br><br>
<div>
    <a [routerLink]="['/principal']" class="btn btn-outline-primary mt-3 mb-3 col-3">
      Volver
    </a>
  </div>

  {{multas | json}}


<table class="table">
    <thead>
      <tr>
        <th scope="col">id_Multa</th>
        <th scope="col">Modelo_Coche</th>
        <th scope="col">Matricula_Coche</th>
        <th scope="col">Concepto</th>
        <th scope="col">Importe</th>
        <th scope="col">Fecha_Alta</th>
        <th scope="col">Fecha_Baja</th>
        <th scope="col">Fecha_Modificacion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of multas">
        <th >{{m.id}}</th>
        <td>{{m.coche.modelo}}</td>
        <td>{{m.coche.matricula}}</td>
        <td>{{m.concepto}}</td>
        <td>{{m.importe}}</td>
        <td>{{m.fechaAlta}}</td>
        <td>{{m.fechaBaja}}</td>
        <td>{{m.fechaModificacion}}</td>
      </tr>
    </tbody>
  </table>